Options -Indexes
<IfModule mod_authz_core.c>
  <FilesMatch "^(bootstrap|cron)\.php$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "^(bootstrap|cron)\.php$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>
<FilesMatch "\.(json|log|bak|ini|sql|sh)$">
  Require all denied
</FilesMatch>
